<p id="notice"><%= notice %></p>

<h1>Featured Clients</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Website name</th>
      <th>Testimonial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @featured_clients.each do |featured_client| %>
      <tr>
        <td><%= featured_client.image %></td>
        <td><%= featured_client.website_name %></td>
        <td><%= featured_client.testimonial %></td>
        <td><%= link_to 'Show', featured_client %></td>
        <td><%= link_to 'Edit', edit_featured_client_path(featured_client) %></td>
        <td><%= link_to 'Destroy', featured_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Featured Client', new_featured_client_path %>
