<div class="container">
    <div id= "about-footer">
        <div>
            <%= link_to "About", about_path, class: "link" %>
            <br>
        </div>
        <div>
            <%= link_to "Featured Clients", featured_clients_path, class: "link" %>
        </div>
        <div>
            <br>
            <%= link_to "Contact", contact_path, class: "link" %>
        </div>
        <div>
            <a href="#"><p>801.123.4567</p></a>
        </div>
        <div>
            <a href="#"><p>bmf@bigmout.com</p></a>
        </div>

        <% if user_signed_in? %>
            <div>
                <%= link_to "Leads", leads_path, class: "link" %>
            </div>

        <% end %>
        <div>
            <% if user_signed_in? %>
                <%= link_to "Logout", destroy_user_session_path, method: 'delete', class: "link" %>
            <% else %>
                <%= link_to "Login", new_user_session_path, class: "link" %>
            <% end %>
        </div>
        <p id= "about-copyright">C Copyright stuff and stuff 2017</p>
    </div>
</div>
