<div class="mission-words">
  <h1>Our Mission</h1>
  <h5>Big Mouth Frog brings passions to life by creating tailored web solutions that work.</h5>
</div>
<div id="lilly-service">
  <div id="lilly-row">
    <div class="z-depth-5"><%= image_tag "SmallBiz.png" %></div>
    <div class="z-depth-5"><%= image_tag "ClientPortals.png" %></div>
    <div class="z-depth-5"><%= image_tag "E-commerce.png" %></div>
  </div>
  <div id="lilly-row">
    <div class="z-depth-5"><%= image_tag "Start-ups.png", class: "low-margin" %></div>
    <div class="z-depth-5"><%= image_tag "Static.png", class: "low-margin" %></div>
    <div class="z-depth-5"><%= image_tag "Blog.png", class: "low-margin" %></div>
  </div>
</div>