
<div id= "about-title">
	<h2>Meet the Team</h2>
</div>
<div id= "white-tile">
	<div id= "frogs">
		<h2>Jared Lund</h2>
		<h4>Administration Coordinator</h4>
		<p>Hi, I'm Jared and I created Big Mouth Frog <br> in order to make high quality websites.</p>
	</div>
	<%= image_tag "jared.jpg", class: "pics", id: "frogs" %>
</div>

<div id= "grey-tile">
	<%= image_tag "alex.jpg", class: "pics", id: "frogs" %>
	<div id= "frogs">
	<h2>Alex Cortes</h2>
	<h4>Lead Developer</h4>
	<p>My name is Alex, I love technology and using it <br> to create awesome looking websites!</p>
	</div>
</div>

<div id= "white-tile">
<div id= "frogs">
	<h2>Elise Adams</h2>
	<h4>Backend Developer</h4>
	<p>My friends call me Lisey and I am <br> passionate about helping others succeed </p>
	</div>
	<%= image_tag "elise.jpg", class: "pics", id: "frogs" %>
</div>

<div id= "grey-tile">
	<%= image_tag "ryan.jpg", class: "pics", id: "frogs" %>
	<div id= "frogs">
	<h2>Ryan Nygard</h2>
	<h4>Backend Developer</h4>
	<p>Ryan's a huge nerd: video games, books, learning, chess, larping; <br> Ryan is nerd.</p>
	</div>
</div>

<div id= "white-tile">
<div id= "frogs">
	<h2>Aaron Anderson</h2>
	<h4>Team Lead</h4>
	<p>I make sure things get done <br> no one slacks off when I'm at work!</p>
	</div>
	<%= image_tag "mranderson.jpg", class: "pics", id: "frogs" %>
</div>

<div id= "grey-tile">
	<%= image_tag "dantheman.jpg", class: "pics", id: "frogs" %>
	<div id= "frogs">
	<h2>Daniel Coley</h2>
	<h4>Front-End Developer</h4>
	<p>Whales are the worst.</p>
	</div>
</div>
