
<div id= "about-title">
	<h2>Meet the Team</h2>
</div>
<div id= "white-tile">
	<div id="frogs">
		<h2>Jared Lund</h2>
		<h4>Project Manager</h4>
		<p class="bios">With my experience in starting and running businesses, I know how vital management and administration activities are. Whether you are a large company with teams for each process important to your bottom line, or a small business owner wearing multiple hats, the internet can reduce or streamline much of your admin efforts and costs. My pledge is to have your website or web app work at least as hard as you do and the good news is that it can! It never sleeps! With some automation of repetitive tasks, your world can have greater peace for the things that matter most.</p>
	</div>
	<%= image_tag "jared.jpg", class: "pics", id: "frogs" %>
</div>

<div id= "grey-tile" class="light-grey-background">
	<%= image_tag "alex.jpg", class: "pics", id: "frogs" %>
	<div id="frogs">
		<h2>Alex Cortes</h2>
		<h4>Software Developer/Sales and Marketing</h4>
		<p class="bios">Technology has been my passion ever since I was a little kid. I have always wanted to be a part of something amazing when it comes to helping people and this is one of the most fun ways to fulfill that passion. I love to code because it’s an awesome way to build anything you want.</p>
	</div>
</div>

<div id= "white-tile">
	<div id="frogs">
		<h2>Elise Adams</h2>
		<h4>Software Developer/QA Engineer</h4>
		<p class="bios">I began my career in customer service but have always had a knack for technology. Now, as a developer, I have merged both worlds and enjoy investing in individuals and helping them realize their passions! </p>
		</div>
		<%= image_tag "elise.jpg", class: "pics", id: "frogs" %>
</div>

<div id= "grey-tile" class="light-grey-background">
	<%= image_tag "ryan.jpg", class: "pics", id: "frogs" %>
	<div id="frogs">
		<h2>Ryan Nygard</h2>
		<h4>Software Developer</h4>
		<p class="bios">Learning is my life! I am an information sponge and enjoy pushing the limits to see what I can do. That is why I like programming, there is so much to learn and think about.</p>
	</div>
</div>

<div id= "white-tile">
	<div id="frogs">
		<h2>Aaron Anderson</h2>
		<h4>Software Developer/Team Lead</h4>
		<p class="bios"> I first gained my appreciation for software developing while in high school. One of the coolest things that I ever did was programming robots using C++. Now I enjoy fixing bugs and merge conflicts.</p>
	</div>
	<%= image_tag "mranderson.jpg", class: "pics", id: "frogs" %>
</div>

<div id="grey-tile" class="light-grey-background">
	<%= image_tag "dantheman.jpg", class: "pics", id: "frogs" %>
	<div id="frogs">
		<h2>Daniel Coley</h2>
		<h4>Front end developer/Coordinator</h4>
		<p class="bios">I am passionate about creating and building things, that's why I love coding! It is pure creation to start with nothing but an idea and turn it into a program that influences the world. My passion is helping businesses grow and new developers gain meaningful experience.</p>
	</div>
</div>

<div id= "white-tile">
	<div id="frogs">
		<h2>Sara Coley</h2>
		<h4>Front end developer</h4>
		<p class="bios">I help you make your site everything you dreamed of, from fonts to eye-catching displays. I’ll work with you directly to design your site into something that fits you and your company.</p>
	</div>
	<%= image_tag "sara.jpg", class: "pics", id: "frogs" %>
</div>

<div id= "grey-tile" class="light-grey-background">
	<%= image_tag "brooke.jpg", class: "pics", id: "frogs" %>
	<div id="frogs">
		<h2>Brooke Larson</h2>
		<h4>Marketing Coordinator</h4>
		<p class="bios">I’m here to help you spread the word about your company. Social Media is taking over the world, and I plan to use it to my advantage. Through Facebook, Instagram, and other social media accounts I will help you advertise your company and let the world know what you’re all about.</p>
	</div>
</div>
