<%= image_tag "dropgr.jpg", id: 'drop-pic' %>
	<div class="parallax-container">
  	<div class="parallax"><%= image_tag "lilypad.jpg"%></div>
			<div class="container">
				<%= render 'our_mission_content' %>
			</div>			
	</div>
</div>
<div class="tile grey-background row col-12" style="margin-bottom: 0px">
		<div class="buffer">
			<div class="mission-words">
				<h4>With the press of a button our services allow you to:</h4><br><br>
			</div>
		<div class="col s12 m6">
			<%= render 'client_content' %>
		</div>
		<div class="col s12 m6">
			<%= render 'business_owner_content' %><br>
		</div>
		<div class="mission-words">
		  <h5>With all of this streamlined you can focus on building your business and the little details that make your business unique.</h5>
		</div>
	</div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "frog_in_water.jpg"%></div>
  	<div class="row col-12 container business-services-text">
  		<%= render 'third_block_content' %>
  	</div>
</div>