<%= image_tag "dropgr.jpg", id: 'drop-pic' %>
<div id="white-tile">

	<h1 class="mission-words">Our Misson</h1>
	<h5 class="mission-words">Big Mouth Frog brings passions to life by creating tailored web solutions that work.</h5>

</div>
<div id="lilly-service">
	<div id="lilly-row">
		<div><%= image_tag "SmallBiz.jpg" %></div>
		<div><%= image_tag "ClientPortals.jpg" %></div>
		<div><%= image_tag "E-commerce.jpg" %></div>
	</div>
	<div id="lilly-row">
		<div><%= image_tag "Start-ups.jpg", class: "low-margin" %></div>
		<div><%= image_tag "Static.jpg", class: "low-margin" %></div>
		<div><%= image_tag "Blog.jpg", class: "low-margin" %></div>
	</div>
</div>
<div id="white-tile">


	<h5 id="quote-home" class="mission-words">With Big Mouth Frog Development, your website is comprised of powerful web apps that empower your customers to: schedule an appointment, purchase your services or products with online payments, chat with sales, promote their experience with friends, and so much more!  </h5>

</div>
<div id="box-service">
<h3>Our Family</h3>
<div id="grouppic">
	<%= image_tag "groupFrog.jpg", class: "groupPhoto" %>
</div>
<!-- 	<div id="lilly-row">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div id="lilly-row">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div> -->
</div>
<div id="white-tile">

	<h5 id="quote-home" class="mission-words">Behind the curtain, managers and employees can securely have: updated accounting reports, manage inventory, time clocks, and GPS tracking to name a few ideas.  With all this streamlined, you have more time to focus on the essentials and your business can be fun again!</h5>


</div>
