<!DOCTYPE html>
<html>
  <head>
    <title>BigMouthFrog</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'froglogo.jpg' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/alerts' %>
    <%= render 'shared/nav' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
